---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home page">
  <div class=":uno: bg-white h-screen w-full grid place-items-center">
    <div
      class=":uno: bg-gray-2 w-25rem h-17.5rem rounded-xl overflow-hidden relative"
    >
      <div
        class=":uno: absolute -top-20px left-0 bg-orange-2 p-2.25rem h-80% w-100% rounded-inherit before:( content-empty bg-inherit w-110% h-10rem rounded-inherit absolute -right-3rem -bottom-19% rotate-z-10deg ) after:(content-empty bg-inherit w-1 h-full absolute right-0 -bottom-90%)"
      >
        Hey
      </div>
    </div>
  </div>
</Layout>
